.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.signup-title {
  color: var(--cherry-rose);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 4px;
}

.signup-subtitle {
  color: var(--rosewood);
  font-weight: 500;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-bottom: 8px;
}

.signup-label {
  margin-bottom: 4px;
}

.signup-button {
  margin-top: 8px;
  margin-bottom: 20px;
}

.signup-loading-spinner {
  width: 28px;
  margin: -8px;
  padding: 0 18px;
}

.login-text {
  color: var(--dim-grey);
}

.login-link {
  margin-left: 4px;
}

@media (max-width: 500px) {
  .signup-title {
    margin-top: -100px;
  }

  .signup-subtitle {
    margin-bottom: 40px;
  }

  .login-text {
    margin-top: 20px;
  }
}