.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.login-title {
  color: var(--night-bordeaux);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 4px;
}

.login-subtitle {
  color: var(--dark-amaranth);
  font-weight: 500;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-bottom: 8px;
}

.login-label {
  margin-bottom: 4px;
}

.login-button {
  margin-top: 8px;
  margin-bottom: 20px;
}

.signup-text {
  color: var(--dim-grey);
}

.signup-link {
  margin-left: 4px;
}