.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.animated-hearts {
  width: 360px;
  margin-top: 20px;
}

.home-title {
  color: var(--cherry-rose);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: -100px;
}

.home-subtitle {
  color: var(--rosewood);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 80px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.confess-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
}

.animated-mail {
  width: 30px;
}

.footer-text {
  color: var(--twitter-blue);
  font-size: 14px;
  font-weight: 400;
  margin-top: 160px;
}

@media (max-width: 500px) {
  .home-title {
    font-size: 28px;
    margin-top: -60px;
  }

  .home-subtitle {
    font-size: 16px;
    margin-bottom: 60px;
  }

  .footer-text {
    margin-top: 40px;
  }
}