.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.animated-hearts {
  width: 360px;
  margin-top: 20px;
}

.home-title {
  color: var(--night-bordeaux);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 12px;
  margin-top: -60px;
}

.home-subtitle {
  color: var(--dark-amaranth);
  font-weight: 500;
  margin-bottom: 4px;
}

.home-subtitle-2 {
  color: var(--dark-amaranth);
  font-weight: 500;
  margin-bottom: 80px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.confess-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-mail {
  width: 40px;
}

.footer-text {
  color: var(--twitter-blue);
  font-size: 14px;
  font-weight: 400;
  margin-top: 100px;
}