:root {
  --black: #000000ff;
  --carbon-black: #1c1c1cff;
  --graphite: #393939ff;
  --charcoal: #555555ff;
  --dim-grey: #717171ff;
  --grey-olive: #8e8e8eff;
  --silver: #aaaaaaff;
  --silver-2: #c6c6c6ff;
  --alabaster-grey: #e3e3e3ff;
  --white: #ffffffff;
}

:root {
  --alice-blue: #e3f2fdff;
  --icy-blue: #bbdefbff;
  --sky-blue: #90caf9ff;
  --cool-sky: #64b5f6ff;
  --cool-sky-2: #42a5f5ff;
  --dodger-blue: #2196f3ff;
  --brilliant-azure: #1e88e5ff;
  --twitter-blue: #1976d2ff;
  --ocean-deep: #1565c0ff;
  --cobalt-blue: #0d47a1ff;
}

:root {
  --night-bordeaux: #590d22ff;
  --dark-amaranth: #800f2fff;
  --cherry-rose: #a4133cff;
  --rosewood: #c9184aff;
  --bubblegum-pink: #ff4d6dff;
  --bubblegum-pink-2: #ff758fff;
  --cotton-candy: #ff8fa3ff;
  --cherry-blossom: #ffb3c1ff;
  --pastel-pink: #ffccd5ff;
  --lavender-blush: #fff0f3ff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--lavender-blush);
  margin: 0;
}

p {
  margin: 0;
}

input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  color: var(--graphite);
  background-color: var(--white);
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 2px solid var(--silver-2);
}

input:focus,
select:focus,
textarea:focus {
  outline-color: var(--cotton-candy);
  box-shadow: 0 0 0 2px rgba(17, 24, 39, 0.1);
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--bubblegum-pink-2);
}

button {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.button-primary {
  color: var(--white);
  background-color: var(--bubblegum-pink);
  padding: 8px 16px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(220, 220, 220, 0.5);
}

.button-primary:hover {
  background-color: var(--bubblegum-pink-2);
  border: none;
}

.button-primary:active {
  background: var(--cotton-candy);
  box-shadow: none;
}

.button-secondary {
  color: var(--bubblegum-pink);
  background: var(--white);
  padding: 7px 15px;
  border: 2px solid var(--bubblegum-pink);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(220, 220, 220, 0.2);
}

.button-secondary:hover {
  background-color: var(--lavender-blush);
}

.button-secondary:active {
  background-color: var(--pastel-pink);
}

.link-primary {
  color: var(--twitter-blue);
  cursor: pointer;
}

.link-primary:hover {
  opacity: 0.75;
}

.link-primary:active {
  opacity: 0.5;
}

select {
  color: var(--graphite);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(200, 200, 200, 0.2);
}

textarea {
  resize: none;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  color: var(--bubblegum-pink-2);
  border: none;
  cursor: pointer;
}