:root {
  --black: #000000ff;
  --carbon-black: #1c1c1cff;
  --graphite: #393939ff;
  --charcoal: #555555ff;
  --dim-grey: #717171ff;
  --grey-olive: #8e8e8eff;
  --silver: #aaaaaaff;
  --silver-2: #c6c6c6ff;
  --alabaster-grey: #e3e3e3ff;
  --white: #ffffffff;
}

:root {
  --white: #ffffff;
  --black-50: #f2f2f2;
  --black-100: #e6e6e6;
  --black-150: #d9d9d9;
  --black-200: #cccccc;
  --black-250: #c0c0c0;
  --black-300: #b3b3b3;
  --black-350: #a6a6a6;
  --black-400: #999999;
  --black-450: #8d8d8d;
  --black-500: #808080;
  --black-550: #737373;
  --black-600: #666666;
  --black-650: #5a5a5a;
  --black-700: #4d4d4d;
  --black-750: #404040;
  --black-800: #333333;
  --black-850: #262626;
  --black-900: #1a1a1a;
  --black-950: #0d0d0d;
}

:root {
  --blush-hour-100: #fee2e9;
  --blush-hour-200: #fdc5d3;
  --blush-hour-300: #fda9be;
  --blush-hour-400: #fc8ca8;
  --blush-hour-500: #fb6f92;
  --blush-hour-600: #c95975;
  --blush-hour-700: #974358;
  --blush-hour-800: #642c3a;
  --blush-hour-900: #32161d;
}

:root {
  --blue: #0077b6;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--black-50);
  margin: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

input,
select,
textarea {
  font-family: "Inter", sans-serif;
  color: var(--black-900);
  background-color: var(--white);
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid var(--black-200);
}

input:focus,
select:focus,
textarea:focus {
  border-color: var(--black-400);
  outline: none;
  box-shadow: 0 0 0 2px rgba(17, 24, 39, 0.1);
}

label {
  font-size: 14px;
  font-weight: 500;
  color: var(--black-500);
}

button {
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.button-primary {
  color: rgba(255, 255, 255, 1);
  background-color: var(--blush-hour-500);
  padding: 8px 16px;
  border: none;
  border-radius: 40px;
}

.button-primary:hover {
  background-color: var(--blush-hour-400);
}

.button-primary:active {
  background: var(--blush-hour-300);
}

.button-secondary {
  color: var(--blush-hour-500);
  background: rgba(255, 255, 255, 1);
  padding: 7px 15px;
  border: 2px solid var(--blush-hour-500);
  border-radius: 40px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: var(--blush-hour-100);
  color: rgba(255, 255, 255, 1);
}

.button-secondary:active {
  background-color: var(--blush-hour-200);
}

.link-primary {
  color: var(--blue);
  cursor: pointer;
}

.link-primary:hover {
  opacity: 0.75;
}

.link-primary:active {
  opacity: 0.5;
}

select {
  color: var(--black-900);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(200, 200, 200, 0.2);
}

textarea {
  resize: none;
}

input[type="file"]::file-selector-button {
  background-color: transparent;
  color: var(--black-400);
  border: none;
  cursor: pointer;
}