.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.profile-title {
  color: var(--graphite);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 8px;
  margin-top: 100px;
}

.profile-subtitle {
  color: var(--dim-grey);
  font-weight: 500;
  margin-bottom: 4px;
}

.profile-subtitle-2 {
  color: var(--dim-grey);
  font-weight: 500;
  margin-bottom: 28px;
}

.profile-label {
  margin-bottom: 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 8px;
}

.hobby-group {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 6px;
}

.save-button {
  margin-top: 12px;
}