.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.profile-subtitle {
  color: var(--dark-amaranth);
  font-weight: 500;
  margin-top: 100px;
  margin-bottom: 4px;
}

.profile-subtitle-2 {
  color: var(--dark-amaranth);
  font-weight: 500;
  margin-bottom: 20px;
}

.profile-label {
  margin-bottom: 4px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 240px;
  margin-bottom: 12px;
}

.save-button {
  margin-top: 12px;
  margin-bottom: 40px;
}