.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}

.animated-flower {
  width: 100px;
}
.animated-bee {
  width: 100px;
}