.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffe5ec;
  padding: 1rem;
  padding-left: 2rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.left-section {
  width: 100px;
}

.home-icon {
  width: 80px;
}

.right-section {
  display: flex;
  justify-content: flex-end;
}

.login-button {
  color: #ff8fab;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ff8fab;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

.signup-button {
  color: #ff8fab;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #ff8fab;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}