.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--pastel-pink);
  box-shadow: 0 0 5px var(--cherry-blossom);
  padding: 12px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.home-icon {
  width: 60px;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}