.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--pastel-pink);
  box-shadow: 0 0 5px var(--cherry-blossom);
  padding: 12px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.home-icon {
  width: 60px;
}

.greet-text {
  color: var(--cherry-rose);
  font-size: 20px;
  font-weight: 600;
}

.logout-button {
  background-color: transparent;
  color: var(--bubblegum-pink);
  font-size: 20px;
  border: none;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

@media (max-width: 500px) {
  .header {
    padding: 12px 8px;
  }

  .left-section {
    gap: 8px;
  }
}