.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 0 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.home-icon {
  width: 60px;
}

.greet-text {
  color: var(--blush-hour-500);
  font-size: 20px;
  font-weight: 600;
}

.label-early-access {
  font-size: 12px;
  font-weight: 300;
}

.logout-button {
  background-color: transparent;
  color: var(--black-200);
  font-size: 20px;
  border: none;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

@media (max-width: 500px) {
  .header {
    padding: 0 8px;
  }

  .home-icon {
    width: 40px;
  }

  .right-section {
    gap: 4px
  }

  .left-section {
    gap: 12px;
  }
}